<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.behindcurtain3.livewallpaper" android:versionCode="1"
	android:versionName="1.0">

    <uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>

	<application android:label="@string/wallpapers"
		android:icon="@drawable/ic_launcher_wallpaper">

		<service android:label="@string/app_name" android:name="com.behindcurtain3.livewallpaper.DecibelWallpaper"
			android:permission="android.permission.BIND_WALLPAPER">
			<intent-filter>
				<action android:name="android.service.wallpaper.WallpaperService" />
			</intent-filter>
			<meta-data android:name="android.service.wallpaper"
				android:resource="@xml/wallpaper" />
		</service>

	</application>

	<uses-sdk android:minSdkVersion="7" />

	<uses-feature android:name="android.software.live_wallpaper" />
</manifest>
